{foreach $articles as $article}
    <div class="list-group" n:inner-foreach="$articles as $article">
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{$article->title}</h5>
                <small> {$article->date|date:'j.n.Y'}</small>
            </div>
            <p class="mb-1">{$article->perex|noescape}</p>
        </div>
    </div>
{/foreach}